body {
    background-image: url("../img/otherAllPagesBG.jpg");
}
.bodyPrivateRoom {
    background-image: url("../img/backgroundForPrivateRoom.jpg");
}
.bodyHomePage {
    background-image: url("../img/HPbackgroundt.jpg");
}
p {
    color: maroon;
}
caption {
    color: springgreen;
}

.transactionsTable td{
    width: 600px;
}
.loginBody {
    background-image: url("../img/background.jpg");
}

.takeClient {
    padding:5px 15px;
    background: lightslategray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
}
.takeAdmin {
    padding:5px 15px;
    background: lightgreen;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
}

th {
    color: springgreen;
    width: 150px;
    height: 30px;
}

td {
    color: springgreen;
    width: 150px;
    height: 30px;
    align-content: center;
}
a:link	{
    text-decoration: none;
    color: #6699CC; }
a:visited	{
    text-decoration: none;
    color: #336699; }
a:active	{
    text-decoration: underline;
    color: #ff0000; }
a:hover	{
    text-decoration: underline;
    color: #ff0000; }

.login {
    width: 450px;
    height: 500px;
    background-color: rgba(24, 33, 52, 0.7);
    margin:250px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #3adbfd;
    border-radius: 0 0 10px 10px;
}
.login img {
    width: 120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
    box-shadow: 0 -5px 0 #3adbfd;

}
input[type = "text"], input[type = "password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 40px;
}
.login-submit {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}
.login-submit:hover {
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}
.login-input::before {
    font-family: "FontAwesome";
    content: "\f007";
    position: absolute;
    font-size: 30px;
    padding: 10px 0 0 7px;
    color: #2c536c;
}
.login-input:nth-child(2)::before {
    content: "\f023";
}
.login-input:nth-child(3)::before{
    content: "\f023";
}
.login-input:hover::before{
    color: #319ebc;
    transition: all 0.3s;
}
.login-input input:hover{
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}

